# Ignore system and temporary files
AppData/
Application Data/
Local Settings/
Cookies/
NTUSER.DAT*
Thumbs.db
Desktop.ini
*.log
*.tmp
*.regtrans-ms

# Ignore VirtualBox files
VirtualBox Vms/

# Other unnecessary files (if any)
.bash_history
.vscode/
